apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: jupyterhub-google-oauth-creds
  namespace: jupyterhub
spec:
  refreshInterval: 60m          # rate SecretManager pulls GCPSM
  secretStoreRef:
    kind: ClusterSecretStore
    name: cluster-secret-store     # name of the SecretStore (or kind specified)
  target:
    name: jupyterhub-google-oauth-creds  # name of the k8s Secret to be created
    creationPolicy: Owner
  data:
    - secretKey: jupyterhub-google-oauth-creds.json
      remoteRef:
        key: jupyterhub-google-oauth-creds
        version: latest