apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: jupyterhub-google-oauth-creds-template
  namespace: jupyterhub
spec:
  refreshInterval: 60m          # rate SecretManager pulls GCPSM
  secretStoreRef:
    kind: ClusterSecretStore
    name: cluster-secret-store     # name of the SecretStore (or kind specified)
  target:
    name: jupyterhub-google-oauth-creds  # name of the k8s Secret to be created
    creationPolicy: Owner
    template:
      engineVersion: v2
      data: 
        oauth_client_id: '{{ .creds | fromJson | .web.client_id }}'
        # oauth_client_secret: '{{ .creds.web.client_secret }}'
        oauth_all: '{{ .creds | toJson | .web }}'
  data:
    - secretKey: creds
      remoteRef:
        key: jupyterhub-google-oauth-creds
        version: latest